# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Name common libraries used by Data Scientists
- Create ordered lists in Jupyter Notebooks
- Evaluate arithmetic expressions in Python
- Create unordered lists in Jupyter Notebooks

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy
4. Matplotlib
5. Scipy
6. NLTK(Natural language Toolkit)

| Data Science Tools | 
| ----------- |
| Jupyter Notebooks |
| RStudio |
| Visual Studio Code(VS Code) |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a sample arithmetic expression to multiply then add integers.
(3*4)+5

17

In [7]:
# This will convert 200 minutes to horus by dividing by 60
(200 / 60)

3.3333333333333335

## Author
Trent Compton